@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

body {
  background-color: #FAFAFA !important;
  color: #171717;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
